.container{
  display: flex;
}
.content{
  background-color : pink;
  border: 2px;
  margin:10px;
  padding:10px;
}
.hid{
  background-color: pink;
  text-align: center;
  padding-top:20px;
  min-height: 50px
}
.fot{
  background-color: pink;
  text-align: center;
  color:white;
}
.fot:hover{
  background-color: pink;
  color:white;
}
.h1{
  background-color:pink;
  text-align:center ;
  padding-top:20px;
  min-height: 50px;
}
.nav{
  background-color: brown;
  text-align: center;
}
.about{
  color:white;
}
.motivasi{
  color:white;
}
.goals{
  color:white;
}